body {
  height: 100%;
  padding: 1;
  margin: 3;
}

.container {
  margin: 50px;
}

.introHeader {
  color: black;
  text-align: left;
  font-family: verdana;
  font-size: 15px;
  padding: 20px;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
}

.myProfilePic {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.bio {
  min-width: 200px;
  flex: 1;
  padding: 0 20px;
}

.bio h1 {
  font-size: 20px;
  font-family: Cambria;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.bio p {
  color: black;
  display: flex;
}

.media-buttons {
  display: flex;
  flex-direction: column;
}

.media-buttons .fa {
  text-align: right;
  text-decoration: none;
}

.card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.card-list li {
  margin: 0;
  padding: 0;
}

.card-list li h2 {
  margin: 0;
}
.card-list .card {
  min-width: 200px;
  flex-basis: 25%;
  min-height: 200px;
}

.card iframe {
  width: 200px;
  height: 200px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
