body { height: 100%; padding: 1; margin: 3; }

.introHeader {
    color: black;
    text-align: left;
    font-family: verdana; 
    font-size: 15px;
    max-width: 100%;
    margin: 100px;
    padding-left: 15px;
    height: 300px;
    background-color:lightblue;
    display:flex;
}

.Name {
  font-size: 20px;
  font-family: Cambria;
  margin-top: 10px;
  padding-left: 60px;
  display: flex; 
  flex-direction: column; 
  }
  

  .intro {
color: black;
padding-left: 60px;
margin-top:80px;
display: flex; 
}

 
  .myProfilePic {
    border-radius:15px;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    float: left;
    display: flex; 
  }

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: right;
    text-decoration: none;
  }

.myCompetences {
  background-color: rgb(143, 82, 92);
  border-radius:15px;
  width: 400px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  float: left;
  display: flex; 
}

.myDiplomas {
  background-color: rgb(162, 211, 148);
  border-radius:15px;
  width: 400px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  float: left;
  display: flex; 
}

.myContact {
  background-color: red;
  border-radius:15px;
  width: 400px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  float: left;
  display: flex; 
}

.myMovie {
  background-color: red;
  border-radius:15px;
  width: 400px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  float: left;
  display: flex; 

}
