body {
  height: 100%;
  padding: 1;
  margin: 3;
}

*{  color: black;
  text-align: left;
  font-family: verdana;
  font-size: 15px;
}

.container {
  margin: 50px;
}

.introHeader {
  padding: 20px;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
}

.myProfilePic {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.bio {
  min-width: 200px;
  flex: 1;
  padding: 0 20px;
}

.bio h1 {
  font-size: 20px;
  font-family: Cambria;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.bio p {
  color: black;
  display: flex;
}

.media-buttons {
  display: flex;
  flex-direction: column;
}

.media-buttons .fa {
  text-align: right;
  text-decoration: none;
}

.card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.card-list li {
  margin: 0;
  padding: 0;
}

.card-list li h2 {
  margin: 0;
}
.card-list .card {
  min-width: 200px;
  flex-basis: 25%;
  min-height: 200px;

}

.green {
  background:linear-gradient(90deg, rgb(142, 169, 193), rgb(74, 93, 113));
}

.red {
  background:-webkit-linear-gradient(90deg, rgb(142, 169, 193), rgb(91, 146, 74));
  background: linear-gradient(90deg, rgb(142, 169, 193), rgb(91, 146, 74));
  ;
}
.blue {
  
background: -webkit-linear-gradient(90deg, rgb(142, 169, 193), rgb(208, 188, 138));
background: linear-gradient(90deg, rgb(142, 169, 193), rgb(208, 188, 138));

}
.pink {
 
background: -webkit-linear-gradient(90deg, rgb(142, 169, 193), rgb(232, 178, 241));
background: linear-gradient(90deg, rgb(142, 169, 193), rgb(232, 178, 241));

}

.card iframe {
  width: 200px;
  height: 200px;
}
